{% extends 'datashare/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block contents %}
    <p>{{ msg }}</p>
    <p>{{ answerlsafe }}</p>
    <form enctype="multipart/form-data"
        action="{% url 'datashare:publish_db' %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td><input type="submit" value="投稿"></td>
            </tr>
        </table>
    </form>
    <p><a href="{% url goto_mypage_db %}">My Pageに戻る(DB接続)</a></p>
{% endblock %}

<!-- リスト4-20:修正。4.5.2 情報発信とファイルァップロードの機能実装、手順4:mypage_db.htmlの修正とpublish_db.html新規作成 -->
